<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;900&family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <!-- Font Awesome -->
    <script src="https://kit.fontawesome.com/193137f408.js" crossorigin="anonymous"></script>

    <title>PostavPC</title>
</head>
<body>
    <nav class="navbar bg-light">
        <div class="container-fluid justify-content-center row">
            <a class="navbar-brand logo col" href="/">PostavPC</a>
            <form action="#" class="d-flex fs-5 col-6">
                <input class="form-control me-2" placeholder="Čo hľadáte ?">
                <button class="btn btn-outline-primary me-2">Hľadať</button>
            </form>
            <a href="/login" class="nav-link col"><i class="fa-solid fa-arrow-right-to-bracket"></i> Prihlásiť sa</a>
            <a href="#" class="nav-link col"><i class="fa-solid fa-basket-shopping"></i> Košík</a>
        </div>
    </nav>

