<div class="sidenav col-2 ">
    <div class="sidenav-group">
        <a href="/categories/1">Grafické karty</a>
        <a href="/categories/2">Procesory</a>
        <a href="/categories/3">Pamäte RAM</a>
        <a href="/categories/4">Disky a SSD</a>
        <a href="/categories/5">Základné dosky</a>
        <a href="/categories/6">PC Skrinky</a>
        <a href="/categories/7">Zdroje</a>
        <a href="/categories/8">Chladenie</a>
        <a href="/categories/9" style="color:red; font-weight: bold;">Zľavy</a>
    </div>

    <% if(typeof user !== 'undefined') { %>
        <% if(user.isAdmin) { %>
            <div class="sidenav-group">
                <a href="/newprod">Pridať nový produkt</a>
                <a href="/orders">Objednávky</a>
                <a href="/cookies">Cookies</a> 
            </div>
        <% } %> 
    <% } %>
    
</div>