<div class="sidenav col-2">
    <ul>
        <li><a href="#">Graficke Karty</a></li>
        <li><a href="#">Procesory</a></li>
        <li><a href="#">RAM pamate</a></li>
        <li><a href="#">Chladice</a></li>
        <li><a href="#">CPU</a></li>
        <li><a href="#">CPU</a></li>
        <li><a href="#">CPU</a></li>
    </ul>

</div>