

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>PostavPC</title>
        <link rel="stylesheet" href="/css/login.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    </head>
<body>
    <div class="content">
        <form action="/register" method="POST">

            <div class="form-group has-validation">
                <label for="username">Používateľské meno</label>
                <input class="form-control <%= usernameValidation%>" type="text" id="username" name="username" required>
                <div class="invalid-feedback">
                    Toto používateľské meno už má niekto iný
                </div>
            </div>

            <div class="form-group has-validation">
                <label for="email">Email</label>
                <input class="form-control <%= emailValidation%>" type="email" id="email" name="email" required>
                <div class="invalid-feedback">
                    Používateľ s týmto emailom už existuje
                </div>
            </div>

            <div class="form-group">
                <label for="password">Heslo</label>
                <input class="form-control" type="password" id="password" name="password" required>
            </div>



              
            
            <button class="btn btn-primary" type="submit">Zaregistrovať sa</button>
        </form>
        <p>Už máš účet ? <a href="/login">Prihlásiť sa</a></p>
    </div>
</body>
</html>