.container-fluid {
    padding: 0 15% 0; 
}

.content{
    padding: 0 15% 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: azure;
}

.logo {
    font-size: 40px;
    font-weight: 900;
}
.card {
    align-items: flex-end;
}

.card-img-top {
    padding: 8%;
}

.card-title {
    font-weight: 700;
    font-size: 15px;
    color: #00275a;
    text-decoration: none;
}

.card-title:hover {
    text-decoration: underline;
    color: #00275a;
}


.price{
    color: #e9242e;
    font-weight: bold;
    font-size: 20px;
}


p {
    color: #4a5a64;
    font-size: 12px;
    line-height: 1.5;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 25%;
}

.sidenav {
    background-color: grey;
  }

.nav-link {
    text-align: center;
}


.my-card-footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px 13px;
}

li {
    border: 1px solid;
    background-color: ghostwhite;
    padding: 4px 10px;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 12px 0 0 0;
}